:root
{
  --foregroundColor: #ffffff;
  --backgroundColor: #000000;
  --borderColor: rgba(255, 255, 255, 0.1);
  --gridColor: rgba(255, 255, 255, 0.05);
  --border: 1px solid var(--borderColor);

  --shadowRadius: 25px;
  --shadowColor: 0, 100%, 100%;
  --shadow: 0px 0px var(--shadowRadius) hsla(var(--shadowColor), 0.8);
  --highlightedShadow: 0px 0px var(--shadowRadius) hsla(var(--shadowColor), 0.5);
  --border: 1px solid rgba(255, 255, 255, 0.5);
  --borderRadius: 10px;
}


body
{
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--backgroundColor);
  color: var(--foregroundColor);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h2
{
  font-size: 20px;
}

h1, h2{
  margin-top: 0px;
  text-shadow: 0px 0px 50px hsla(var(--shadowColor), 1.0);
}


button
{
  /*width: 400px;*/
  width: 100px;
  height: 30px;
  background-color: var(--backgroundColor);
  color: var(--foregroundColor);
  border: var(--border);
  box-shadow: var(--shadow);
  border-radius: var(--borderRadius);
}


button:hover
{
  box-shadow: inset var(--shadow);
}


select, input[type=number]
{
  text-align: center;
  background-color: var(--backgroundColor);
  color: var(--foregroundColor);
  border: var(--border);
  border-radius: var(--borderRadius);
  margin-left: 20px;
}


input[type=number]
{
  width: 80px;
}


label
{
  margin-right: 10px;
}

input[type=text]
{
  text-align: center;
  width: 300px;
}


#lightLists
{
  width: 800px;
  display: inline-block;
}


.listContainer
{
  display: inline-block;

}

.lightList
{
  height: 120px;
  width: 300px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: var(--shadow);
  overflow: hidden;
  overflow-y: scroll;
  border: var(--border);
  border-radius: var(--borderRadius);
}


#advancedSettings, #setupSection
{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px;
  box-shadow: var(--shadow);
  border: var(--border);
  border-radius: var(--borderRadius);
}


#setupSection
{
  width: 600px;
}


.lightList>p
{
  margin: 0px;
  padding: 10px;
  font-size: 10pt;
  border-bottom: var(--border);
}


.lightList>p:hover
{
  cursor: grab;
  box-shadow: inset var(--shadow);
}

.lightList>p.selected
{
  box-shadow: inset var(--highlightedShadow);
}


.handler
{
  fill: hsla(var(--shadowColor), 0.5);
  stroke:rgba(255, 255, 255, 1.0);
}


.handler:hover
{
  fill: hsla(var(--shadowColor), 1.0);
  cursor: grab;
}


.step
{
  padding-bottom: 20px;
}


.errorMessage
{
  visibility: hidden;
  color: #ff8800;
}


#svgArea
{
  fill: hsla(var(--shadowColor), 0.025);
  border: var(--border);
  box-shadow: var(--shadow);
  border-radius: var(--borderRadius);
}


#screenArea, #uvArea
{
  fill: hsla(var(--shadowColor), 0.25);
}


#overlay
{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}


.overlayContent
{
  position: absolute;
  width: 300px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: var(--border);
  background-color: var(--backgroundColor);
  border-radius: var(--borderRadius);
}
